.footer {
        line-height: 40px;
        margin-top: 70px;
    }
    
    .footer__messenger-link {
        position: fixed;
        right: 0;
        bottom: -8px;
        margin-right: 5px;
        color: #fff;
        background-color: green;
        line-height: 50px;
        padding: 10px 10px;
        border-radius: 40%;
        margin-bottom: 20px;
        text-decoration: none;
    }
    
    .footer__messenger {
        right: 0;
    }
    
    .footer__messenger-item {
        margin: 0 4px;
        font-size: 3rem;
    }
    
    .contain {
        display: flex;
        justify-content: center;
        background-color: #00FF00;
        border-radius: 4px;
    }
    
    .footer__contain-list {
        list-style: none;
        margin-top: 25px;
    }
    
    .footer__contain-link {
        text-decoration: none;
        color: #666699;
        line-height: 5px;
        margin-right: 5px;
    }
    
    .footer__contain-icon {
        margin-right: 4px;
    }
